*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: white;
    flex-wrap: wrap;
    flex-flow: column;
    height: 600px;
    justify-content: center; /*main axis*/
    align-items: center; /*cross axis*/
}

.box{
    width: 100px;
    flex: 0 0 100px;
     /*flex: grow shrink basic   */
    /*flex: 1; = flex: 1 1 0px;*/
}

.one {
    background: red;
    
}

.two {
    background: blue;
    
}

.three{
    background: green;

}
